<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kinderapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="KidsApp"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".splashscreen"
            android:label="KidsApp"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".login"
            android:screenOrientation="portrait"
            android:label="KidsApp Login"
            ></activity>


        <activity android:name=".screen1"
            android:screenOrientation="portrait"
            android:label="Wähle ein Kind aus"
            ></activity>


        <activity android:name=".screen2"
            android:screenOrientation="portrait"
            android:label=""
            ></activity>

        <activity android:name=".screen2_1"
            android:screenOrientation="portrait"
            android:label=""></activity>

        <activity android:name=".neuKrankheiten"
            android:screenOrientation="portrait"
            android:label=""></activity>

        <activity android:name=".krankheiten"
            android:screenOrientation="portrait"
            android:label="Krankheit1"></activity>

    </application>

</manifest>
