<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kidsapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="KidsApp"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.kidsapp.splashscreen"
            android:label="KidsApp"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name="com.example.kidsapp.login"
            android:screenOrientation="portrait"
            android:label="KidsApp Login"
            ></activity>


        <activity android:name="com.example.kidsapp.screen1"
            android:screenOrientation="portrait"
            android:label="Wähle ein Kind aus"
            ></activity>


        <activity android:name="com.example.kidsapp.screen2"
            android:screenOrientation="portrait"
            android:label=""
            ></activity>

        <activity android:name="com.example.kidsapp.screen2_1"
            android:screenOrientation="portrait"
            android:label=""></activity>

        <activity android:name=".neuKrankheiten"
            android:screenOrientation="portrait"
            android:label="">
            </activity>

        <activity android:name=".krankheiten"
            android:screenOrientation="portrait"
            android:label="Krankheit1"></activity>

        <activity android:name=".Alarm"
            android:screenOrientation="portrait"
            android:label="Alarm"></activity>

        <activity android:name=".Medcontainer"
            android:screenOrientation="portrait"
            android:label="">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            </activity>

    </application>

</manifest>
